.form {
    /*width: 700px;*/
    /*background: rgba(255, 255, 255, 0.7);*/
    /*backdrop-filter: blur(5px);*/
    /*-webkit-backdrop-filter: blur(5px);*/

    > button{
        background: #5d16d8;
        border:none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}