.App {
  text-align: center;
}

.signin{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tsparticles{
  position: fixed;
  top: 0;
  right:0;
  bottom:0;
  left: 0;
  z-index: -1;
}